@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0%;
  padding: 0%;
}

:root {
  --IRIS: var;
  --OCEAN: #404BBF;
  --NAVY-BLUE: #2E2F42;
  --green: #31D0AA;
  --SLATE: #434455;
  --LIGHTSLATE: ##8E8F99;
  --cornflower: #E7E9FC;
  --CLOUD: #F4F4FD;
  --NAVYBLUEmodal: #2E2F42;
  --GREY: #2E2F42;
  --WHITE: #FFFFFF;
  --Dairy: #FCFCFC;
  --Peacoat: #434455;
  --raleway: 'Raleway',sans-serif;
  --roboto: 'Roboto',sans-serif
}

body {
  width: 1440px;
  height: 2592px;
  background: var(#434455);
  font-family: 'Roboto',sans-serif;
  background-color: var(--WHITE, #FFFFFF);
  color: var(--Peacoat, #434455);
}

nav {
  background: var(--WHITE, #FFF);
}

.web {
  color: var(#4D5AE5);
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 44px;
}

.studio {
  width: 71px;
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: 'Raleway',
    sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.f-studio {
  color: var(--CLOUD, #F4F4FD);
  font-family: 'Raleway',
    sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
}

.nav-menu {
  list-style: none;
}

.nav-item-link {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: 'Roboto',
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-item-link:hover {
  color: var(--IRIS);
}

.address-item-link {
  color: var(--SLATE, #434455);
  font-family: 'Roboto',
    sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address-item-link:hover {
  color: var(--IRIS);
}

.main {
  width: 2000px;
  height: 170px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2E2F42);

}

.main-header {
  width: 496px;
  color: var(--WHITE, #FFF);
  font-family: 'Roboto',
    sans-serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 1.12px;
  margin-left: 300px;
}

.main-button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  line-height: 24px;
  letter-spacing: 4%;
  border-radius: 4px;
  background: var(--IRIS, #4D5AE5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-strategy {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: 'Roboto',
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding-bottom: 10px;
}

.aim {
  color: var(--SLATE, #434455);
  font-family: 'Roboto',
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  margin: 0%;
  padding-bottom: 10px;
}

.main-punctuality {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: 'Roboto',
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding-bottom: 10px;
}

.main-diligence {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: 'Roboto',
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding-bottom: 10px;
}

.main-technologies {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: 'Roboto',
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding-bottom: 10px;
}

.heading {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-family: 'Roboto',
    sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding: 30px 0px 30px 0px;
}

.dif-image-list {
  width: 360px;
  height: 300px;
  border: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.header-image-list {
  width: 360px;
  height: 300px;
  border: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.our-team {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-family: 'Roboto',
    sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding: 30px 0px 30px 0px;
}

.name-pd {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: 'Roboto',
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  padding: 30px 0px 0px 0px;
}

.pd-description {
  color: var(--SLATE, #434455);
  font-family: 'Roboto',
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

footer {
  width: 2000px;
  height: 170px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2E2F42);
  margin-bottom: 1000px;

}

.p-footer {
  width: 264px;
  color: var(--CLOUD, #F4F4FD);
  font-family: 'Roboto',
    sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-top: 30px;

}