* {
  margin: 0%;
  padding: 0%;
}
:root{
  --IRIS: #4D5AE5;
  --NAVY-BLUE: #2E2F42;
  --OCEAN: #404BBF;
  --SLATE: #434455;
  --WHITE: #FFFFFF;
  --CLOUD: #F4F4FD;
  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;
}
body {
  font-family: var(--roboto);
  color: var(--SLATE);
  background-color: var(--WHITE);
}
.webstudio{
  font-size: var(--raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  transition-property: uppercase;
  color: var(--IRIS);
}
.webstudio:link{
  text-decoration: none;
}
.studio-logo{
  color: var(--NAVY-BLUE);
}

ul{
  list-style: none;
}
ul .pages{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
}
.pages:link{
  text-decoration: none;
}
.pages:hover,
.pages:focus{
  color: var(--OCEAN);
}

ul .default-mail{
    color: var(--SLATE);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
}
.default-mail:link{
  text-decoration: none;
}
.default-mail:hover,
.default-mail:focus {
  color: var(--OCEAN);
}
.main {
  background: var(--NAVY-BLUE);
}

.main-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE);
}

.main-button {
  background-color: var(--IRIS);
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--OCEAN);
}

section .head {
  color: var(--NAVY-BLUE);
  font-family: var(--NAVY-BLUE);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

 .first-text {
   color: var(--SLATE);
   font-family: var(--roboto);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.32px;
 }

.jobs {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-family: var(--roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

.section-bg {
  background-color: var(--CLOUD);
}

.team-intro {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
}
.end-foot {
      background: var(--NAVY-BLUE);
    }


.webstudio:link {
  text-decoration: none;
}

.footer-studio {
  color: var(--CLOUD);
  font-family: var(--raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.last-text {
  color: var(--CLOUD);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}

*{
  margin: 0%;
  padding: 0%;
}

:root {
  --IRIS: #4D5AE5;
  --OCEAN: #404BBF;
  --NAVY-BLUE: #2E2F42;
  --green: #31D0AA;
  --SLATE: #434455;
  --LIGHTSLATE: #8E8F99;
  --cornflower: #E7E9FC;
  --CLOUD: #F4F4FD;
  --NAVYBLUEmodal: #2E2F42;
  --GREY: #2E2F42;
  --WHITE: #FFFFFF;
  --Dairy: #FCFCFC;
  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--roboto);
  color: var(--SLATE);
  background-color: var(--WHITE);
}
.webstudio {
  font-family: var(--raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
}

.webstudio {
  text-decoration: none;
}

.studio-logo {
  color: var(--NAVY-BLUE);
}

.list{
  list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
}

.pages-link{
  text-decoration: none;
  color: var(--NAVY-BLUE);
}

.pages-link:hover, ul .pages-link:focus{
  color: var(--OCEAN);
}

.dflt-address {
  font-style: normal;
}

.dflt-address li{
  font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}

.dflt-address li{
  text-decoration: none;
}

.address-item:hover,
.address-item:focus {
  color: var(--OCEAN);
}
.main {
  background: var(--NAVY-BLUE);
}

.main-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE);
}

.main-button {
  background-color: var(--IRIS);
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
background-color: var(--OCEAN);
  }
    section .head {
      color: var(--NAVY-BLUE);
      font-family: var(--NAVY-BLUE);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.4px;
    }
  
    .first-text {
      color: var(--SLATE);
      font-family: var(--roboto);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.32px;
    }

        jobs {
          color: var(--NAVY-BLUE);
          text-align: center;
          font-family: var(--roboto);
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.11;
          letter-spacing: 0.72px;
          text-transform: capitalize;
        }
    
        ul {
          list-style: none;
        }


                .section-bg {
                  background-color: var(--CLOUD);
                }
        
                .team-intro {
                  font-size: 36px;
                  line-height: 1.11;
                  text-align: center;
                  letter-spacing: 0.02em;
                  text-transform: capitalize;
                  color: var(--NAVY-BLUE);
                }
        
                .end-foot {
                  background: var(--NAVY-BLUE);
                }
        
        
                .webstudio:link {
                  text-decoration: none;
                }
        
                .footer-studio {
                  color: var(--CLOUD);
                  font-family: var(--raleway);
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 800;
                  line-height: 21px;
                  letter-spacing: 0.54px;
                  text-transform: uppercase;
                }
        
                .last-text {
                  color: var(--CLOUD);
        
                  /* Body */
                  font-family: Roboto;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  /* 150% */
                  letter-spacing: 0.32px;
                }
        
                * {
                  margin: 0%;
                  padding: 0%;
                }
        
                :root {
                  --IRIS: #4D5AE5;
                  --OCEAN: #404BBF;
                  --NAVY-BLUE: #2E2F42;
                  --green: #31D0AA;
                  --SLATE: #434455;
                  --LIGHTSLATE: #8E8F99;
                  --cornflower: #E7E9FC;
                  --CLOUD: #F4F4FD;
                  --NAVYBLUEmodal: #2E2F42;
                  --GREY: #2E2F42;
                  --WHITE: #FFFFFF;
                  --Dairy: #FCFCFC;
                  --raleway: 'Raleway', sans-serif;
                  --roboto: 'Roboto', sans-serif;
                }
        
                body {
                  font-family: var(--roboto);
                  color: var(--SLATE);
                  background-color: var(--WHITE);
                }
        
                .webstudio {
                  font-size: var(--raleway);
                  font-weight: 800;
                  font-size: 18px;
                  line-height: 1.17;
                  letter-spacing: 0.03em;
                  transition-property: uppercase;
                  color: var(--IRIS);
                }
        
                .webstudio:link {
                  text-decoration: none;
                }
        
                .studio-logo {
                  color: var(--NAVY-BLUE);
                }
        
                ul {
                  list-style: none;
                }
        
                .pages {
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 1.5;
                  letter-spacing: 0.02em;
                  color: var(--NAVY-BLUE);
                }
        
                ul .pages:link {
                  text-decoration: none;
                }
        
                ul .pages:hover,
                ul .pages:focus {
                  color: var(--OCEAN);
                }
        
                .address {
                  font-style: none;
                }
        
                ul {
                  list-style: none;
                }
        
                .address-item {
                  font-size: 16px;
                  line-height: 1.5;
                  letter-spacing: 0.02em;
                  color: var(--SLATE);
                }
        
                .address-item:link {
                  text-decoration: none;
                }
        
                .address-item:hover,
                .address-item:focus {
                  color: var(--OCEAN);
                }
        
                .button-section {
                  align-items: center;
                  justify-content: center;
                  margin: 15px 200px 20px 0px;
                  display: flex;
        
                }
        
                ul {
                  list-style: none;
                }
        
                .top-button {
                  font-family: var(--roboto);
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 1.5;
                  letter-spacing: 0.04em;
                  color: var(--IRIS);
                  background-color: var(--CLOUD);
                }
        
                .top-button:hover,
                .top-button:focus {
                  color: var(--WHITE);
                  background-color: var(--OCEAN);
                  cursor: pointer;
                }
        
                .bank-app {}
        
                .bank-app {
                  width: 360px;
                  height: 300px;
                  flex-shrink: 0;
                  background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
                }
        
                .s-image {
                  width: 360px;
                  height: 300px;
                  flex-shrink: 0;
                  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
                }
        
                .image-pd {
                  color: var(--NAVY-BLUE);
                  font-family: var(--roboto);
                  font-size: 20px;
                  font-weight: 500;
                  letter-spacing: 0.4px;
                }
        
                .image-desciption {
                  color: var(--SLATE);
                  font-family: var(--roboto);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: 0.32px;
                }
        
                footer {
                  width: 2000px;
                  height: 170px;
                  flex-shrink: 0;
                  background: var(--NAVY-BLUE);
                  margin-bottom: 1000px;
        
                }
        
                .p-footer {
                  width: 264px;
                  color: var(--CLOUD);
                  font-family: var(--roboto);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: 0.32px;
                  padding-top: 30px;
        
                }