* {
  margin: 0%;
  padding: 0%;
}
:root{
  --IRIS: #4D5AE5;
  --NAVY-BLUE: #2E2F42;
  --OCEAN: #404BBF;
  --SLATE: #434455;
  --WHITE: #FFFFFF;
  --CLOUD: #F4F4FD;
  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;
}
body {
  font-family: var(--roboto);
  color: var(--SLATE);
  background-color: var(--WHITE);
}
.webstudio{
  font-size: var(--raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  transition-property: uppercase;
  color: var(--IRIS);
}
.webstudio:link{
  text-decoration: none;
}
.studio-logo{
  color: var(--NAVY-BLUE);
}

ul{
  list-style: none;
}
ul .pages{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
}
.pages:link{
  text-decoration: none;
}
.pages:hover,
.pages:focus{
  color: var(--OCEAN);
}

ul .default-mail{
    color: var(--SLATE);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
}
.default-mail:link{
  text-decoration: none;
}
.default-mail:hover,
.default-mail:focus {
  color: var(--OCEAN);
}
.main {
  background: var(--NAVY-BLUE);
}

.main-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE);
}

.main-button {
  background-color: var(--IRIS);
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--OCEAN);
}

section .head {
  color: var(--NAVY-BLUE);
  font-family: var(--NAVY-BLUE);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

 .first-text {
   color: var(--SLATE);
   font-family: var(--roboto);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.32px;
 }

.jobs {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-family: var(--roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

.section-bg {
  background-color: var(--CLOUD);
}

.team-intro {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
}
.end-foot {
      background: var(--NAVY-BLUE);
    }


.webstudio:link {
  text-decoration: none;
}

.footer-studio {
  color: var(--CLOUD);
  font-family: var(--raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.last-text {
  color: var(--CLOUD);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}

*{
  margin: 0%;
  padding: 0%;
}

:root {
  --IRIS: #4D5AE5;
  --OCEAN: #404BBF;
  --NAVY-BLUE: #2E2F42;
  --green: #31D0AA;
  --SLATE: #434455;
  --LIGHTSLATE: #8E8F99;
  --cornflower: #E7E9FC;
  --CLOUD: #F4F4FD;
  --WHITE: #FFFFFF;
  --Dairy: #FCFCFC;
  --raleway: 'Raleway';
  --roboto: 'Roboto';
}

body {
  font-family: var(--roboto),
    sans-serif;
  color: var(--SLATE);
  background-color: var(--WHITE);
}
.webstudio {
  font-family: var(--raleway), sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
}

.webstudio {
  text-decoration: none;
}

.studio-logo {
  color: var(--NAVY-BLUE);
}

.list{
  list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
}

.head {
  color: var(--NAVY-BLUE);
  font-family: var(--roboto), sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.pages-link{
  color: var(--NAVY-BLUE);
  text-decoration: none;
  
}

.pages-link:hover, .pages-link:focus{
  color: var(--OCEAN);
}

.dflt-address {
  font-style: normal;
}

.dflt-address li{
  font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}

.dflt-address li{
  text-decoration: none;
}

.address-item:hover,
.address-item:focus {
  color: var(--OCEAN);
}
.section-bg {
  background-color: var(--CLOUD);
}

.team-intro {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
}
.card-item{
  background-color: var(--WHITE);
}

.first-text {
  color: var(--SLATE);
  font-family: var(--roboto),
    sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
