* {
  margin: 0%;
  padding: 0%;
}

:root {
  --IRIS: #4D5AE5;
  --OCEAN: #404BBF;
  --NAVY-BLUE: #2E2F42;
  --green: #31D0AA;
  --SLATE: #434455;
  --LIGHTSLATE: #8E8F99;
  --cornflower:#E7E9FC;
  --CLOUD: #F4F4FD;
  --NAVYBLUEmodal: #2E2F42;
  --GREY: #2E2F42;
  --WHITE: #FFFFFF;
  --Dairy: #FCFCFC;
  --Peacoat: #434455;
  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

body {
  font-family:var(--roboto);
  color: var(--SLATE);
  background-color: var(--WHITE);
}

.nav-logo {
  color: var(--IRIS);
  font-family: var(--raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.a:link{
  text-decoration: none;
}

nav span {
  color: var(--NAVY-BLUE);
  font-family: var(--raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.main-item{

}

.studio {
  color: var(--NAVY-BLUE);
  font-family: var(--roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
}

ul{
  list-style: none;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

.default-list{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--NAVY-BLUE);
}
.default-list:link,
.default-list:hover{
  text-decoration: none;
  color: var(--OCEAN);

}

.default-mail {
  color: var(--SLATE);
  font-family: var(--roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.default-mail:link,
.default-mail:hover,
.default-mail:focus{
  color: var(--OCEAN);
  text-decoration: none;
  color: var(--OCEAN);
}

.main {
  background: var(--NAVY-BLUE);
}

.main-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE);
}

.main-button {
  background-color: var(--IRIS);
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--OCEAN);
}


.head{
  color: var(--NAVY-BLUE);
  font-family: var(--NAVY-BLUE);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

 .first-text{
  color: var(--SLATE);
  font-family: var(--roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}


.jobs{
  color: var(--NAVY-BLUE);
  text-align: center;
  font-family: var(--roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

.dif-image-list {
border: 1px solid var(--CORNFLOWER);
  background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}

.header-image-list {
border: 1px solid var(--CORNFLOWER);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.section-bg{
  background-color:var(--CLOUD);
}
.team-intro{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
}
ul{
  list-style: none;
}

  .list-item{
    background-color: var(--WHITE);
    font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--NAVY-BLUE);
  }

  .name-pd{
    color: var(--NAVY-BLUE);
      font-family: var(--roboto);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.02em;
      line-height: 1.2;
  }
  .mark{
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat
  }
  .end-foot{
    background: var(--NAVY-BLUE);
  }
nav-logo {
  color: var(--IRIS);
  font-family: var(--raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-logo:link {
  text-decoration: none;
}

.footer-studio {
  color: var(--CLOUD);
  font-family: var(--raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.text{
  color: var(--CLOUD);
  
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}




