* {
  margin: 0%;
  padding: 0%;
}

:root {
  --IRIS: #4D5AE5;
  --OCEAN: #404BBF;
  --NAVY-BLUE: #2E2F42;
  --green: #31D0AA;
  --SLATE: #434455;
  --LIGHTSLATE: #8E8F99;
  --cornflower:#E7E9FC;
  --CLOUD: #F4F4FD;
  --NAVYBLUEmodal: #2E2F42;
  --GREY: #2E2F42;
  --WHITE: #FFFFFF;
  --Dairy: #FCFCFC;
  --Peacoat: #434455;
  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto',
    sans-serif;
  color: var(--SLATE, #434455);
  background-color: var(--WHITE, #FFFFFF);
}

.nav-logo {
  color: var(--IRIS, #4D5AE5);
  font-family: var('Raleway',
      sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-logo:link {
  text-decoration: none;
}

nav span {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: var('Raleway',
      sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.studio {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: var('Roboto',
      sans-serif);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  letter-spacing: 0.32px;
}

.default-list {
  list-style: none;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

.default-link a[href="./index.html"] {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--NAVY-BLUE, #2E2F42);
}

.default-link:link a,
.default-link:hover a,
.default-link a:focus {
  color: var(--OCEAN, #404BBF);
}

.default-list {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: var('Roboto',
      sans-serif);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.default-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
  text-decoration: none;
}

.default-mail {
  color: var(--SLATE, #434455);
  font-family: var('Roboto',
      sans-serif);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address:link a,
.address:hover a,
.address:focus a {
  color: var(--OCEAN, #404BBF);
}

.main {
  background: var(--NAVY-BLUE, #2E2F42);
}

.main-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE, #FFFFFF);
}

.main-button {
  background-color: var(--IRIS,#4D5AE5);
  font-family: var('Roboto',
      sans-serif);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE, #FFFFFF);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--OCEAN, #404BBF);
}

.hero-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
  list-style: none;
}

h3 {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: var('Roboto',
      sans-serif);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

p {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.job {
  list-style: none;
  background-color: var(--WHITE, #FFFFFF);
}

h2 {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-family: var('Roboto',
      sans-serif);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

.dif-image-list {
border: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}

.header-image-list {
border: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.section-bg{
  background-color:var(--CLOUD,#F4F4FD);
}
.team-intro{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE, #2E2F42);
}
ul{
  list-style: none;
}

  .list-item{
    background-color: var(--WHITE, #FFFFFF);
    font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--NAVY-BLUE, #2E2F42);
  }

  .name-pd{
    color: var(--NAVY-BLUE, #2E2F42);
      font-family: var('Roboto',
          sans-serif);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.02em;
      line-height: 1.2;
  }
  .mark{
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat
  }
  .end-foot{
    background: var(--NAVY-BLUE, #2E2F42);
  }
nav-logo {
  color: var(--IRIS, #4D5AE5);
  font-family: var('Raleway',
      sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-logo:link {
  text-decoration: none;
}

.footer-studio {
  color: var(--CLOUD, #F4F4FD);
  font-family: var('Raleway',
      sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}