* {
  margin: 0%;
  padding: 0%;
}

:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --green: #31d0aa;
  --SLATE: #434455;
  --LIGHTSLATE: #8e8f99;
  --cornflower: #e7e9fc;
  --CLOUD: #f4f4fd;
  --WHITE: #ffffff;
  --Dairy: #fcfcfc;
  --raleway: 'Raleway';
  --roboto: 'Roboto';
}

body {
  font-family: var(--roboto), sans-serif;
  color: var(--SLATE);
  background-color: var(--WHITE);
}
.webstudio {
  font-family: var(--raleway), sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
}

.webstudio,
.link {
  text-decoration: none;
}

.studio-logo {
  color: var(--NAVY-BLUE);
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
}

.head {
  font-family: var(--roboto), sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
}

.pages-link {
  color: var(--NAVY-BLUE);
  text-decoration: none;
}

.pages-link:hover,
.pages-link:focus {
  color: var(--OCEAN);
}

.dflt-address {
  font-style: normal;
}

ul .default-mail {
  color: var(--SLATE);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
}
.default-mail:link {
  text-decoration: none;
}
.default-mail:hover,
.default-mail:focus {
  color: var(--OCEAN);
}

.main {
  background: var(--NAVY-BLUE);
}

.main-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE);
}

.main-button {
  background-color: var(--IRIS);
  font-family: var(--roboto), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--OCEAN);
}
.jobs {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-family: var(--roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.section-bg {
  background-color: var(--CLOUD);
}

.team-intro {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
}
.card-item {
  background-color: var(--WHITE);
}

.first-text {
  color: var(--SLATE);
  font-family: var(--roboto), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.end-foot {
  background-color: var(--NAVY-BLUE);
}
.footer-studio {
  color: var  CLOUD);
  font-family: var(--raleway);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.last-text {
  line-height: 1.5;
  color: var(--CLOUD);
  letter-spacing: 0.02em;
}
.top-button {
  font-family: var(--roboto), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--IRIS);
  background-color: var(--CLOUD);
}

.top-button:hover,
.top-button:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
  cursor: pointer;
}

.image-pd {
  color: var(--NAVY-BLUE);
  font-family: var(--roboto), sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.image-desciption {
  color: var();
  font-family: var(--roboto), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
