* {
  margin: 0%;
  padding: 0%;
}

:root {
  --IRIS: #4D5AE5;
  --OCEAN: #404BBF;
  --NAVY-BLUE: #2E2F42;
  --green: #31D0AA;
  --SLATE: #434455;
  --LIGHTSLATE: ##8E8F99;
  --cornflower: #E7E9FC;
  --CLOUD: #F4F4FD;
  --NAVYBLUEmodal: #2E2F42;
  --GREY: #2E2F42;
  --WHITE: #FFFFFF;
  --Dairy: #FCFCFC;

  --raleway: 'Raleway', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
}

body {
  color: value #434455;
  width: 1440px;
  height: 2076px;
  background: var(--WHITE);
  font-family: roboto, sans-serif;
}

nav {
  background: var(--WHITE, #FFF);
}

.web {
  color: var(--IRIS, #4D5AE5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 44px;
}

.studio {
  width: 71px;
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.f-studio {
  color: var(--CLOUD, #F4F4FD);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
}

.nav-menu {
  list-style: none;
}

.nav-item-link {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-item-link:hover {
  color: var(--IRIS);
}

.address-item-link {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address-item-link:hover {
  color: var(--IRIS);
}

.button-section {
  align-items: center;
  justify-content: center;
  margin: 15px 200px 20px 0px;
  display: flex;

}
.button-section:hover{
  
}

.all-button {
  color: var(--WHITE, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  display: flex;
  padding: 8px 20px;
  margin-right: 10px;
  border-radius: 4px;
  background: var(--OCEAN, #404BBF);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.section-button {
  color: var(--IRIS, #4D5AE5);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.64px;
  display: flex;
  padding: 12px 24px;
  line: height 1.5px;
  letter-spacing: 0.04em;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: var(--CLOUD, #F4F4FD);
}

.bank-app {
  width: 360px;
  height: 300px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
}

.s-image {
  width: 360px;
  height: 300px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.image-pd {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.image-desciption {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

footer {
  width: 2000px;
  height: 170px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2E2F42);
  margin-bottom: 1000px;

}

.p-footer {
  width: 264px;
  color: var(--CLOUD, #F4F4FD);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-top: 30px;

}